header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	object {
		max-width: 600px;
	}
	a {
		display: block;
		@include fontSizer(40);
		text-align: center;
		padding: 20px;
		width: 100px;
		margin: 30px auto 0;
	}
}

// h1,
// p.tagline {
// 	padding: 0;
// 	margin: 0;
// 	text-transform: uppercase;
// 	font-weight: 700;
// 	line-height: 1;
// }

// h1 {
// 	@include fontSizer(60);
// 	text-shadow: 8px 8px 0 $cyan;
// 	letter-spacing: 3px;
// }

// p.tagline {
// 	@include fontSizer(34);
// 	color: $darkgrey;
// }

@media (max-width: 850px) {
	header object {
		max-width: 500px;
	}
}

@media (max-width: 750px) {
	header object {
		max-width: 400px;
	}
}

@media (max-height: 650px) {
	header object {
		max-width: 100%;
	}
}